@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #22c55e;
  transform-origin: 0%;
  z-index: 100;
}

/* navigation */
